<div class="cont">
  <h1 class="login-title">AniRec</h1>
  <div class="login-form">
    <div class="login-row">
      <input [(ngModel)]="email" type="text" class="login-input name" placeholder="Email"/>
    </div>
    <div class="login-row">
      <input [(ngModel)]="password" type="password" class="login-input pass" placeholder="Password"/>
    </div>
     <div class="login-row">
      <input [(ngModel)]="username" type="text" class="login-input name" placeholder="Username (Sign Up Only)"/>
    </div>
    <button type="button" class="login-submit" (click)=login()>Sign in</button>
    <p class="login-signup">Don't have an account? &nbsp;<a (click)=register()>Sign up</a></p>
  </div>
</div>