<div id="what">
  <ul class="horizontal">
    <li><a href="./">AniRec</a></li>
    <li><div (click)="goBoards()">Boards</div></li>
    <li><a href="https://www.reddit.com/r/anime/">News</a></li>
    <li *ngIf="afAuth.authState | async as user"><div (click)="goMe()">Profile</div></li>
    <li *ngIf="afAuth.authState | async as user; else showLogin"><div (click)="logout()" id="login">Logout</div></li>
    <ng-template #showLogin>
      <li id="login"><div (click)="goLogin()">Login</div></li>
    </ng-template>
  </ul> 
<div>
<div class="rectitle">
    <h1>Your Recommendations</h1>
</div>
<div *ngIf="similarTitles; let similarTitles; else loading" class="row">
  <div *ngFor="let title of similarTitles" class="example-1 card">
    <div class="wrapper" [style]="title.url">
      <div class="data">
        <div class="content">
          <h1 class="title">{{title.name}}</h1>
          <p class="text">{{title.genre.substring(0,title.genre.length-1)}}</p>
          <label for="show-menu" class="menu-button"></label>
        </div>
        <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>Loading Anime Data...</ng-template>