/* You can add global styles to this file, and also import other style files */
body{
	background: #606c88;
	background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);    
	background: linear-gradient(to right, #3f4c6b, #606c88); 
	font-family: "Impact";
	color:#fcfcff;
	overflow-x:hidden;
	max-width:100%;
}

.ui-autocomplete {
	max-width:35%;
    background: #4a4a4a;
    border-radius: 1px;
    list-style-type: none;
}

.ui-menu-item:hover{
	cursor:pointer;
	color:#4286f4;
}

